---
import { YellowMatrix } from "./YellowMatrix"
import YellowMatrixDetails from "./yellow-matrix-details.astro"
import GitHubCorner from "./github-corner.astro"
---

<section class="relative h-full w-full bg-black">
  <YellowMatrix client:idle />
  <GitHubCorner />
  <div class="h-full w-full "> 
    {<!-- REMOVE THIS ONE & THERE U READY FOR UR OWN VERSION -->}   
    <YellowMatrixDetails />
  </div>
</section>

<style>
  @media (prefers-reduced-motion: reduce) {

    :global(#starfield) {
      @apply hidden;
    }
  }
</style>