---
---
<div class="relative h-full flex flex-col border-4 pt-24">
    <h2 class="text-white place-self-center text-6xl font-6xl rowspan-2 mb-24">Matrix for Astro template</h2>
    <div class="flex flex-row w-max place-self-center justify-center">
        <div class="text-default bg-default bg-opacity-50 p-5 m-3 mx-24 rounded-lg text-sx font-bold h-96 w-1/4 border-dashed border-2">
            <h2>FULLY CONFIGURABLE MATRIX EFFECT</h2>
            <hr class="mb-3"/>        
            MINIMAL_SPEED<br />
            MAX_ADD_SPEED<br />
            MATRIX_CANVAS_TRAIL_INDICE<br />
            REDROP_AFTER_INVISIBLE_RATIO<br /> 
            FONT<br />
            FONT_SIZE<br />
            FONT_COLOR<br />
            <hr />
            <h3 class="text-xs italic self-stretch"> (please have a look in src/component/YellowMatrix.tsx) </h3>
        </div>

        <div class="bg-default bg-opacity-50 p-3 m-3 rounded-lg text-sm grid grid-flow-col grid-cols-2 overflow-y-auto overflow-x-hidden max-h-96 w-2/5  border-dashed border-2"> 
            <div class="text-default text-xl font-bold col-span-2 w-max">
                <h2>LIGHTHOUSE REPORTS</h2> 
                <hr />
                <a 
                class="text-default text-sm" 
                href="https://chrome.google.com/webstore/detail/lighthouse/blipmdconlkpinefehnmjammfjpmpbjk?hl=fr"
                target="_blank"
                >Get Lighhouse</a>
                
            </div>
            <div class="col-span-1 row-span-3 mt-24">
                <img 
                    src="/src/assets/lighthousescores.png" 
                    width="300" height="700" 
                    class="border-4 border-black rounded-lg" 
                    alt="Lighthouse scores">
            </div>
            <div class="text-black text-xs m-5 mt-16 p-3 border-2 bg-slate-300 rounded-lg w-80">             
                Latest technos 
                
                <hr class="border-black"/>
                this template was already provided with
                <ul>
                <li>&#128640; Astro (is awesome)</li>
                <li>💨tailwindcss</li>
                </ul>
                <br />
                thx to: <a href="https://github.com/mhyfritz/astro-landing-page" target="_blank">mhyfritz/astro-landing-page</a>
            </div>
            <div class="text-black text-xs m-5 mt-10 p-3 border-2 bg-slate-400 rounded-lg w-80">
                &#127917; Performance is our goal<hr class="border-black" />
                Add a Preact component the right way to enhace some fancy without harming our best practices.
            </div>
            <div class="text-white text-xs m-5 mt-10 p-3 border-2 bg-slate-500 rounded-lg w-80"> 
                &#128269; keeping it efficient<hr />
                Follow the client directives, (even your customs ones)
            </div>
        </div>
    </div>
</div>